[submodule "klimaralley-server"]
	path = klimaralley-server
	url = https://github.com/j0giwa/klimaralley-server
[submodule "klimaralley-wasserarm"]
	path = klimaralley-wasserarm
	url = https://github.com/j0giwa/klimaralley-wasserarm
[submodule "klimaralley-recycling"]
	path = klimaralley-recycling
	url = https://github.com/j0giwa/klimaralley-recycling.git
[submodule "klimaralley-hub"]
	path = klimaralley-hub
	url = https://github.com/j0giwa/klimaralley-hub.git
[submodule "Flut"]
	path = Flut
	url = https://github.com/cbu-byte/Flut
