<?xml version="1.0" encoding="UTF-8"?>
<!-- Source: https://github.com/j0giwa/TnT/blob/master/src/main/resources/logback.xml-->
<configuration scan="true" scanPeriod="3 seconds">
	<contextName>layouts</contextName>

	<property name="HOME_LOG" value="log/server.log"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%yellow(%d{MM/dd HH:mm:ss.SSS}) [%highlight(%-5level)] in %cyan(%logger{5}@[%-4.30thread]) - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${HOME_LOG}</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>log/archived/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<totalSizeCap>20GB</totalSizeCap>
			<maxHistory>60</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{MM/dd HH:mm:ss.SSS} [%-5level] in %logger{5}@[%-4.30thread] - %msg%n</pattern>
		</encoder>
	</appender>

	<jmxConfigurator />

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE"/>
	</root>

	<!-- setup log levels -->

	<!-- Logback -->
	<logger name="ch.qos.logback" level="WARN"/>

	<!-- Tomcat server -->
	<logger name="org.apache.catalina" level="ERROR" />
	<logger name="org.apache.coyote" level="ERROR" />

	<!-- Spring framework -->
	<logger name="org.springframework" level="INFO" />

	<!-- Database connection pool -->
	<logger name="com.zaxxer.hikari" level="ERROR" />

	<!-- Own packages -->
	<logger name="de.thowl" level="INFO" />

</configuration>